@{
    ViewData["Title"] = "User Account";
    var userJson = HttpContextAccessor.HttpContext.Session.GetString("user");
    ApplicationUser user = null;
    if (userJson != null)
    {
        user = JsonConvert.DeserializeObject<ApplicationUser>(userJson);
    }
}

<section class="container-fluid">
    User Area
    <br />
    --------------
    <br />
    Username: @user.UserName
    <br />
    -------------------------
    <br />
    Email: @user.Email
    <br />
    -------------------------
    <br />
    Role: @user.UserRole
    <br />
    -------------------------
    <br />
</section>