@{
    ViewData["Title"] = "Home Page";
}

@{
    var user = ViewData["user"] as ApplicationUser;
}

<div class="text-center">
    <h1 class="display-4">Welcome, @user.UserName</h1>
    <p>Full Name: @user</p>
    <p>Email: @user</p>
    <!-- Display other user data -->
</div>
